.add_debt_form{
    position: absolute;
    left: 40%;
    top: 25%;
    background-color: rgba(40, 167, 69, 0.5);
    padding: 10px;
    border: 2px solid rgb(40, 167, 69);
    border-radius: 0.3em;
    align-content: center;
    height: 320px;
    z-index: 5;
}

.add_debt_button {
    position: relative;
    text-align: center;
    width: 110px;
    font-size: 20px;
    top: 100%;
    left: 30%;
}